*,
*:focus,
*:hover {
  margin: 0;
  padding: 0;
  box-shadow: none;
  border: none;
  color: #ffffff;
  transition: 200ms linear;
}

window {
  background-color: #303030;
}

#clock-label {
  font-size: 128px;
}

#input-field {
  border: 2px solid #404040;
  border-radius: 10px;
  background-color: #404040;
  padding: 0 10px;
}

#input-field:focus {
  border: 2px solid #ca7896;
}

#unlock-button {
  margin-top: 5px;
  background-color: #404040;
  padding: 5px 20px;
}

#unlock-button:hover {
  background-color: #ca7896;
}

#unlock-button:hover label {
  color: #404040;
}

#error-label {
  margin-top: 5px;
  color: #ff4040;
}

.info revealer box {
  background-color: #404040;
  border-radius: 10px;
  padding: 0 5px;
}

.info:not(:first-child) {
  margin-top: 5px;
}
